username=KSCPL_your_number_
password=_your_password_
websiteurl="https://kanaka-software.greythr.com/"
HEADLESS=true
FORCE_SIGNIN=false
CHROME_PATH="C:\\Program Files\\Google\\Chrome\\Application\\chrome.exe"